@import url('https://fonts.googleapis.com/css?family=Lato:100,300,700|Playfair+Display:400i');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS Reset */

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #222;
}

h3 {
 	text-transform:capitalize;
 	font-size:1.875em;
 	padding:0 0 1% 0;
 	color:#222;
 	font-weight:bold;
}

header {
	position: relative;
	width: 100%;
	z-index: 998;
}

p {
  margin: 0 0 20px 0;
}

/* HOME */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mac-coffee.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
  padding: 0;
}

.intro {
  position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		  -ms-transform: translate(0%, -50%);
		   -o-transform: translate(0%, -50%);
			    transform: translate(0%, -50%);
	padding: 0 15px;
  color: #fff;
}

.intro h1 {
	font-family: 'Lato', sans-serif;
 	font-size: 4em;
 	text-align: center;
 	color: #fff;
 	text-transform: uppercase;
 	letter-spacing: 0.1em;
	font-weight: 300;
 	line-height:1.5em;
}

.intro h2 {
 	font-size: 2em;
 	text-align:center;
 	color:#fff;
 	font-weight:300;
 	text-transform:capitalize;
 	letter-spacing:0.09em;
}

.scroll-down {
  position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
  text-align: center;
}

.scroll-down span {
  position: relative;
  color: #fff;
}

.fa-2x {
  margin-top: 10px;
}

/* NAVBAR */
.header {
	position: relative;
	width: 100%;
	z-index: 998;
}

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #fff;
	padding: 0;
}

.navbar-custom,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	font-size: 13px;
	letter-spacing: 3px;
	color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
	color: #ff5252;
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #ff5252;
	border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
	padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}

/* ABOUT SECTION */
#about {
  background-color: #f5f5f5;
  padding:4% 0;
}

#about img {
  border-radius: 50%;
  height: 160px;
  border: 5px solid #fff;
  float: left;
  margin-right: 30px;
  margin-top: 30px;
}

#about p {
  font-family: 'Lato', sans-serif;
 	font-style: normal;
 	line-height: 1.5;
 	letter-spacing: .03em;
 	margin: 10px auto;
 	font-size:1.5em;
 	padding:2% 0;
}

.strong {
	font-weight: 700;
}

/* PORTFOLIO SECTION */
#portfolio {
  padding:4% 0;
}

.portfolio-content {
	padding: 40px 115px;
}

.portfolio-content img {
	width: 300px;
	transition: opacity .5s;
	display: inline-block;
  margin: 0 auto;
}

.portfolio-content img:hover {
	opacity: .3;
}

.img-thumbnail {
	border: none;
}

.hovereffect {
	width:300px;
	height:205px;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
}

.hovereffect .overlay {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out
}

.hovereffect img {
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.hovereffect h4 {
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect a.info {
	text-decoration:none;
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	border:1px solid #fff;
	background-color:transparent;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	margin:50px 0 0;
	padding:7px 14px;
}

.hovereffect a.info:hover {
	box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.hovereffect:hover h4,.hovereffect:hover a.info {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}

.hovereffect:hover a.info {
	-webkit-transition-delay:.2s;
	transition-delay:.2s;
}

.col-md-4 {
	padding-bottom: 15px;
}

/* FOOTER */
footer {
  background: #222;
  text-align: center;
  padding: 40px 0;
  letter-spacing: .5px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 11px;
  color: #FEF9F0;
}

#social-links {
	float: right;
  list-style: none;
  padding: 0;
  margin: 12px 0 20px;
}

#social-links li {
  display: inline-block;
  margin: 5px;
}

#social-links a {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 35px;
  text-align: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.2);
}

#social-links a:hover {
  color: rgba(255,255,255, 0.8);
}

.credit {
	float: left;
	margin: 12px 0 0;
}

p.copyright {
	margin: 0 0 5px 0;
	text-align: left;
}

.fa-heart {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  padding: 2px;
  font-size: 16px;
  color: #ff5252;
}

.fa-coffee {
  padding: 2px;
  font-size: 16px;
  color: #8d7147
}

/* MEDIA QUERIES */
@media only screen and (max-width:480px) {
	h3 {
	 	font-size: 1.5em;
	}

 .intro h1 {
 	 	font-size:2.5em;
 	 	line-height:1.2;
 }
 .intro h2 {
 	 	font-size:1.5em;
 	 	padding-top:3%;
 }
 #about p {
   	font-size:1em;
   	line-height:2;
 }

 .portfolio-content {
	 	padding-left: 30px;
 }

 #social-links {
 		float: left;
 }
}
